.main-nav {
  display: flex;

  justify-content: space-between;
  align-items: center;

  &__wrap {
    display: flex;
  }

  &__toggle {
    position: relative;
    margin-right: 20px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;

    background: none;
    cursor: pointer;

    &::before, &::after {
      position: absolute;
      content: '';
      display: block;
      width: 30px;
      height: 1px;

      top: 50%;
      background: $text-white;
      transition: transform 0.3s;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow:0 -10px 0 transparent;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &--closed ~.main-nav__list {
      display: none;
    }

    &--closed::before {
      box-shadow: 0 -10px 0 $text-white;
      transform: translateY(10px);
    }

    &--closed::after {
      transform: translateY(-10px);
    }
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    align-items: center;

    list-style: none;

    &--closed {
      display: none;
    }
  }

  &__item {
    margin: 0;
    margin-right: 20px;

    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: $text-white;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    &:hover {
      text-decoration: underline;
    }
  }
}