.works {
  padding-top: 0;
  padding-bottom: 0;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 100px solid $bg-dark;
    border-right: 50vw solid $bg-dark;
    border-bottom: 100px solid transparent;
    border-left: 50vw solid transparent;

    background-color: $bg-ligth;
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 50vw solid $bg-dark;
    border-bottom: 100px solid $bg-dark;
    border-left: 50vw solid transparent;

    background-color: $bg-ligth;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
  }

  &__item {
    margin-bottom: 50px;
    width: 30%;
    max-height: 380px;
    box-shadow: 5px 5px 10px transparentize($bg-dark, 0.7);
  }
}